<h1>NodeJS</h1>
<ol>
  <li>Що таке файл package.json?</li>
  <p>
    package.json - це файл, який містить дані про проект та залежності,
    необхідні для його розробки та запуску
  </p>
  <li>Які є типи запитів HTTP?</li>
  <div>
    Основні - GET, POST, PUT, DELETE, PATCH. Запити підтримують query параметри
    для більш детальної обробки
  </div>
  <ul>
    <li>GET - отримання данних</li>
    <li>POST - відправка даних на сервер для запису</li>
    <li>
      PUT,PATCH - зміна данних на сервері , запит включає параметр id, body -
      данні для заміни (example url - 'http://localhost:3000/user/:id' - :id =
      userId)
    </li>
    <li>
      DELETE - видалення данних, запит включає параметр id (example url -
      'http://localhost:3000/user/:id')
    </li>
  </ul>

  <div></div>
  <li>Поясніть різницю між локальним і глобальним встановленням пакетів npm</li>
  <ul>
    <li>
      Локальне встановлення пакетів означає, що пакети встановлюються в
      конкретну директорію вашого проекту, і доступні лише для цього проекту.
    </li>
    <li>
      Глобальне встановлення пакетів означає, що пакети встановлюються на рівні
      вашої системи, і доступні для використання будь-де на вашому комп'ютері.
    </li>
  </ul>

  <li>
    Поясніть порядок виконання прослуховувачів подій у Node.js. Що буде
    результатом цього коду і чому?
  </li>
  <div style="border: 1px solid blueviolet">
    <code style="white-space: pre-wrap">{{ fourQuestion }}</code>
  </div>
  <div style="border: 1px solid green; margin-top: 1rem; padding: 3px">
    console.log <br />
    (Statement A <br />
    Emitted Statement - FIRST<br />
    Emitted Statement - SECOND<br />
    Statement B)<br />
    <div>
      <ul>
        <li>Реєструємо подію 'myEvent' передаємо колбек</li>
        <li>Реєструємо подію 'myEvent' передаємо колбек</li>
        <li>Викликається лог 'Statement A '</li>
        <li>Емітимо зареєстровані події передаемо дані для виклику колбеків</li>
        <li>Викликаються по черзі колбеки зареєстрованої події</li>
        <li>Викликається лог 'Statement B '</li>
      </ul>
      <p>
        У даному прикладі два обробники події "myEvent" були створені в різних
        частинах коду, тому вони будуть викликані в порядку, в якому вони були
        зареєстровані, тобто перший обробник події буде викликаний перед другим
        обробником.
      </p>
    </div>
  </div>

  <li>
    Поясніть, що не так із використанням async/await у циклі forEach. Чи працює
    він належним чином? Ви можете це виправити?
  </li>
  <div style="white-space: pre-wrap">{{ fifthQuestion }}</div>
  <div style="border: 1px solid green; padding: 5px">
    <p>
      У циклі forEach async не працює. <br />
      Робочий варіант:
    </p>
    <div style="white-space: pre-wrap">{{ fifthAnswer }}</div>
  </div>

  <li>
    Що саме робить module.exports у Node.js і яким би був простий приклад?
  </li>
  <div>
    module.exports використовується для експортування функцій, об'єктів або
    змінних з модуля. Це дозволяє використовувати ці експортовані елементи у
    інших модулях та в програмі загалом.
  </div>
  <div style="white-space: pre-wrap">Exapmle: <br />{{ example }}</div>
</ol>
