<h1>Angular</h1>

<div>
  <ol>
    <li>Яка різниця між *ngIf і [hidden]?</li>
    <p>
      *ngIf - це директива Angular, яка дозволяє додати елемент на сторінку в
      залежності від значення виразу.
      <br />
      [hidden] - це атрибут HTML, який дозволяє приховати елемент зі сторінки,
      але залишити його в HTML-коді сторінки
    </p>
    <li>Що таке Observable?</li>
    <p>
      Observable - це один з основних механізмів для роботи з асинхронним кодом
      в Angular
    </p>
    <li></li>
    <div class="screen">
      <img src="../../../assets/screen.png" alt="screen" />
    </div>
    <div class="answer">
      <ol>
        <li>
          {{ thirdQuestion }}
        </li>
      </ol>
    </div>

    <li>
      Розглянемо наступний компонент, який можна використовувати для моделювання
      тварини та її шуму.
    </li>
    <div class="screen">
      <img src="../../../assets/screen_4.png" alt="screen" />
    </div>
    <div class="answer">
      <ol>
        <li></li>
        <li>
          При включенні компонента AnimalNoise у шаблон мають бути вказані
          вхідні дані як тварин, так і шуму.
        </li>
      </ol>
    </div>
    <li>Розглянемо наступний модуль програми:</li>
    <div class="screen">
      <img src="../../../assets/screen_5.png" alt="screen" />
    </div>
    <div class="answer">
      <ol>
        <li class="wrong">
          Доступ до домашнього компонента можливий лише через перенаправлення
          кореневої URL-адреси. &times;
        </li>

        <li class="wrong">
          Параметр id не є обов'язковим, коли виконується виклик / detail / URL.
          &times;
        </li>
        <li>??</li>
        <li>??</li>
        <li>
          Route, який перенаправляє на HomeComponent, активується на тих самих
          маршрутах, якщо властивість pathMatch: 'full' була видалена.
        </li>
      </ol>
    </div>

    <li>
      Розглянемо наступні два базові класи, Positionable і Rotatable, і похідний
      клас MovingObject:
    </li>
    <img src="../../../assets/screen_6.png" alt="screen" />
    <p>Вище вказанний код не буде працювати:</p>
    <ul>
      <li>Імплементуються класи, а повинні імплементуватися інтерфейси</li>
      <li>В TypeScript не має множинного наслідування</li>
      <li>
        Якщо клас наслідувати, то в ньому має бути реалізація, а не тільки
        оголошення типів
      </li>
    </ul>
  </ol>
</div>
